*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
}

.my-frame{
  position: relative; width: 35%; height: 100%;
  padding-bottom: 48px; 
  box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
  margin-top: 1.6em; 
  margin-bottom: 0.9em; 
  margin: auto; 
  overflow: hidden;
  border-radius: 8px; 
  will-change: transform;
  width: 100%;
  height: 90vh;
}
@media only screen and (min-width: 768px) {
  .my-frame{
      width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .my-frame{
      width: 50%;
  } 
}
@media only screen and (min-width: 1200px) {
 .my-frame{
      width: 35%;
  } 
}

.navbar{
height: 60px;
    box-shadow: -1px 3px 6px 0px #c3b5b585;
    width: 100%;
    background-color: rgb(255 244 243);
    color: #08090a;
    display: flex;
    justify-content: left;
    padding-left: 2em;
    padding-top: 1em;
    height: fit-content;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.navbar .title{
  font-size: 1.5em;
}

@media only screen and (min-width: 992px) {
  .navbar .title{
      font-size: 2vw;
  } 
}
